alter table if exists public.programas_financiamento add column if not exists objetivos text; 
alter table if exists public.programas_financiamento add column if not exists area_geografica text; 
alter table if exists public.programas_financiamento add column if not exists acoes_elegiveis text; 
alter table if exists public.programas_financiamento add column if not exists condicoes_especificas text;
